@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 262.1 100% 95%;
    --foreground: 262.1 5% 0%;
    --card: 262.1 50% 90%;
    --card-foreground: 262.1 5% 10%;
    --popover: 262.1 100% 95%;
    --popover-foreground: 262.1 100% 0%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224.10000000000002 30% 85%;
    --muted-foreground: 262.1 5% 35%;
    --accent: 224.10000000000002 30% 80%;
    --accent-foreground: 262.1 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262.1 5% 90%;
    --border: 262.1 30% 50%;
    --input: 262.1 30% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --background: 0 0% 4%;
    --foreground: 262.1 5% 90%;
    --card: 262.1 50% 0%;
    --card-foreground: 262.1 5% 90%;
    --popover: 262.1 50% 5%;
    --popover-foreground: 262.1 5% 90%;
    --primary: 262.1 88.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224.10000000000002 30% 15%;
    --muted-foreground: 262.1 5% 60%;
    --accent: 262 30% 15%;
    --accent-foreground: 262.1 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262.1 5% 90%;
    --border: 262.1 30% 18%;
    --input: 262.1 30% 18%;
    --ring: 262.1 88.3% 57.8%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 262.1 88.3% 57.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262.1 88.3% 57.8%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-panel-group-direction="horizontal"] {
  height: 100%;
}

[data-panel] {
  height: 100%;
}

[data-panel-resize-handle] {
  cursor: col-resize;
}
@keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.animate-bgFadeIn {
  animation: bgFadeIn 5s ease-in forwards;
}
/* ----------------------------- X EDITOR STYLES starts ---------------------------- */
.decorationsOverviewRuler,
.vertical.scrollbar {
  width: 10px !important;
}

.hover-decoration {
  border-bottom: 1px dotted #666666;
  pointer-events: none;
}

/* ----------------------------- X EDITOR STYLES ends ---------------------------- */
/* Add this to your CSS */

.scene-line-highlight {
  background-color: rgba(100, 100, 255, 0.2) !important;
}

.scene-line-margin {
  background-color: rgba(100, 100, 255, 0.7);
  width: 5px !important;
  margin-left: 3px;
}

.text-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
}

.hero-bg {
  /* background: radial-gradient(144.92% 178.15% at 50.12% 98.15%, hsla(275, 100%, 25%, 1) 0%, rgba(242, 226, 4, 0) 100%); */

  /* background: radial-gradient(circle at bottom center, hsla(275, 100%, 25%, 1) 0%, transparent 100%) */
}

.hoverable-command {
  border-bottom: 1px dotted #6b7280;
}

/* In your styles */
.scene-block {
  /* background-color: red;   */
  /* TODO : not working */
}

.command-text { color: #2563eb !important }     /* blue */
.command-transition { color: #059669  !important }  /* green */
.command-image { color: #d97706  !important }    /* amber */
.command-arg { font-style: italic }

/* .scene-block-odd {
  background-color: rgba(255, 0, 0, 0.4);
}

.scene-block-even {
  background-color: rgba(100, 100, 100, 0.02);
} */
/* .hoverable-argument {
  border-bottom: 1px dashed #9ca3af;
  cursor: help;
}

.hoverable-value {
  border-bottom: 1px dotted #d1d5db;
  cursor: help;
}
 */